<!DOCTYPE html>
<html>
<head>
  <title>Just Kidding App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class = "header">
		<nav>
			<ul class="menu">
				<li><%= link_to "About the Project", about_path %></li>
        <li><%= link_to "Levels", parts_path, :part_id => "1" %></li>
			 	<li><%= link_to "How far are you", howfar_path %></li>
			</ul>
		</nav>
		<div class = "signing">
			<% if user_signed_in? %>
				<%= link_to "Log out", destroy_user_session_path, class: "logout", method: :delete %>
			<% else %>
				<%= link_to "Create an account", new_user_registration_path, class: "signup" %>
				<%= link_to "Log in", new_user_session_path, class: "login" %>
			<% end %>
		</div>
	</div>
	<div class = "clear"></div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

</body>
</html>
