<!DOCTYPE html>
<html>
<head>
  <title>Just Kidding App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class = "header">
		<nav>
			<ul class="menu">
				<li><%= link_to "About the Project", controller: "welcome", action: "about" %></li>
				<li><a href="levels_front">Levels</a></li>
				<li><%= link_to "How far are you", controller: "welcome", action: "howfar" %></li>
			</ul>
		</nav>
		<div class = "signing">
			<%# if user_signed_in? %>
				<%= link_to "Create an account", new_user_path, class: "signup" %>
				<a href="#" class = "login">Log in</a>
			<%# else %>
				<a href="#" class = "logout">Log out</a>
			<%# end %>
		</div>
	</div>
	<div class = "clear"></div>

<%= yield %>

</body>
</html>
